.App {
  text-align: center;
}
.image{
  width: 40px;
  margin: 0px 40px;
}

.arrow{
  width: 15px;
  height: 12px;
  cursor: pointer;
}
.pagination {
  float: right;
  margin-right: 10%;
  margin-bottom: 8%;
  display: flex;
  margin-top: -40px;
}